.projects-cards {
  margin-bottom: 90px;
  position: relative;
}
.new-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #00ff4c; /* Красный фон */
  color: #1a1919; /* Белый текст */
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  z-index: 10; /* Убедитесь, что метка находится сверху */
}
.project-card-info {
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  color: #121212;
  margin: 15px 0;
}
.project-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  color: #ad1818;
  text-decoration: none;
}
.project-link:hover {
  color: #e80909;
}
